@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: TimesCondensed;
  src: url('/public/Times New Roman MT Condensed Bold.otf') format('opentype');
}

html {
  font-family: TimesCondensed;
  font-size: 32px;
}

body {
  margin: 2em;
  background: #110000;
  color: #f9ffe1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
